/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-Oct-2021, 11:44:05 AM
    Author     : willi
*/


/* Float five columns side by side */

.column {
    float: left;
    width: 33.3%;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive columns */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
    }
}


/* Style the counter cards */

.card {
    font-size: 125%;
    margin-left: 5%;
    padding: 1% 3% 3% 3%;

}
#saveBtn{
  width: 100%;
  color: white;
  background-color: blue;
}
#saveBtn:hover{
  width: 100%;
  color: black;
  background-color: green;
  cursor: pointer;

}

#cancelBtn{
    width: 100%;
    background-color: red;
    color: white;
}
#cancelBtn:hover{
    width: 100%;
    background-color:rgb(100,0,0);
    color: white;
    cursor: pointer;
}
.input{
    width: 98.27%;
    background-color:rgb(50,50,50);
    color: white;
}
::placeholder{
    color: white;
    opacity: 0.5;
}
.dropdown{
    width: 100%;
    background-color:rgb(50,50,50);
    color: white;
}
#background{

}
.headers{
    color:purple;
}
body{
background-image:url('https://cdn.discordapp.com/attachments/893369250343944193/902992885295747102/photo-1626624338641-b99e0d32c958.png');
}
.manage{

}
td{
    color: white;
}
th{
    color: white;
}
